<!DOCTYPE html>
<html>
<head>
    <style>
        form{
            background-color: #eee;
            padding: 20px;
            margin: 0 auto;
            width:400px;
            font: 16px sans-serif;
            border-radius: 10px;
    height:auto;float: left;
        }
h1{margin:20px;}
label{width:45%;float:left;}
input{width:50%;float: left;}
div{width:350px;margin:auto;}   
.error { color: red; }
   
    </style>
</head>
<body>

   
<h1 align="left">Welcome, {{username}}!</h1>     

</body>
</html>
